        	<!-- VIEW HTML Start -->
        	<div id="toolsIndex">
            	<div id="pageHeading">
            		<div id="member-name">
            			Welcome Member!
            		</div>
            		<h1>
            			TOOLS
            		</h2>
	        		<p>
	            		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
	            		ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
	            		laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
	            		voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
	            		cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	        		</p>
            	</div>
            
            	<div class="column-container side-nav">
            		<% Category.all.each do |c| %>
	            		<div class="side-nav-item"><%= c.name %></div>
	            	<% end %>
            	</div>
            	
            	
            	<div style="float: left;">
	            	<div class="column-container" onclick="location.href='./category.html';">
	            		<div class="category-container-image">Image</div>
		            	<div class="category-container-text">CATEGORY 1</div>
	            	</div>
	            	<div class="column-container" onclick="location.href='./category.html';">
	            		<div class="category-container-image">Image</div>
		            	<div class="category-container-text">CATEGORY 2</div>
	            	</div>
	            	<div class="column-container" onclick="location.href='./category.html';">
	            		<div class="category-container-image">Image</div>
		            	<div class="category-container-text">CATEGORY 3</div>
	            	</div>
	            	<div style="clear: both;"></div>
	            	
	            	<div class="column-container" onclick="location.href='./category.html';">
	            		<div class="category-container-image">Image</div>
		            	<div class="category-container-text">CATEGORY 4</div>
	            	</div>
	            	<div class="column-container" onclick="location.href='./category.html';">
	            		<div class="category-container-image">Image</div>
		            	<div class="category-container-text">CATEGORY 5</div>
	            	</div>
	            	<div class="column-container" onclick="location.href='./category.html';">
	            		<div class="category-container-image">Image</div>
		            	<div class="category-container-text">CATEGORY 6</div>
	            	</div>
	            	<div style="clear: both;"></div>
            	</div>
            	<div style="clear: both;">&nbsp;</div>
        	</div>
        	<!-- VIEW HTML End -->
        	
        </div>
    </div>
    
    <div id="p-footer">
        <div id="p-footer-container">
            <div style="padding: 16px;">
                Footer</div>
        </div>
    </div>

</body>
</html>