        	<!-- VIEW HTML Start -->    	
        	<div id="pageHeading">About Us</div>
        	
        	<div class="tool-container about">
          		<%= image_tag 'alex.jpg', :class => 'image' %>
            	<div class="about-us-person">Alex Soble</div>
            	<div>Web Dev</div>
        	</div>
        	<div class="tool-container about">
          		<%= image_tag 'dawn.jpg', :class => 'image' %>
            	<div class="about-us-person">Dawn Joseph</div>
            	<div>HTML/CSS</div>
        	</div>
        	<div class="tool-container about">
        	  	<%= image_tag 'jean.jpg', :class => 'image' %>
            	<div class="about-us-person">Jean Soderkvist</div>
            	<div>UX</div>
        	</div>
        	
        	<div style="clear: both;">&nbsp;</div>
        	
        	<div class="tool-container about">
        	    <%= image_tag 'muhammad.jpg', :class => 'image' %>
            	<div class="about-us-person">Muhammand Meigooni</div>
            	<div>Web Dev</div>
        	</div>
        	<div class="tool-container about">
        	    <%= image_tag 'janet.jpg', :class => 'image' %>
            	<div class="about-us-person">Janet Ginsburg</div>
            	<div>HTML/CSS</div>
        	</div>
        	<div class="tool-container about">
        	    <%= image_tag 'bryan.jpg', :class => 'image' %>
            	<div class="about-us-person">Bryan Sebastian</div>
            	<div>Design</div>
        	</div>
        	
        	<div style="clear: both;"></div>
        	<!-- VIEW HTML -->

        </div>
    </div>
    
    <div id="p-footer">
        <div id="p-footer-container">
            <div style="padding: 16px;">
                Footer</div>
        </div>
    </div>

</body>
</html>