<!-- YEILD Start -->
        	
        	<!-- Home View end -->
        	<div id="homePage">
      	
            	<%= image_tag "video.png", :class => "video" %>

            	<div class="message-container"> 
            		<div class="content-area">
	            		<div class="title">
	            			Welcome to the Parent Leader Toolbox!
	            		</div>
	            		<div class="content">
	            			<p>This website has been created to provide you, the parent, a place to start with becoming
	            			more involved in your children's school. Oftentimes parents are not as involved in their children's 
	            			schools as the would like to be because they do not know where to start.  These are parents that 
	            			truly want to take a more active role in their children's education, try to start and give up 
	            			due to frustration over where to begin.
	            			</p>
	            			<p>
	            			Inspired by Jacqui at the famous Nettlehorst elementary school in Chicago, the Parent Leader Toolbox
	            			is here to not only get you started and pointed in the right direction, but to also encourage you
	            			to stay active with your local schools once you have started contributing.
	            			</p>
	            		</div>
            		</div>
            	</div>
            	
            	<div style="clear: both; height: 16px;"></div>
            		            	
            	<div class="column-container featured">
            		<%= image_tag 'renovating.png', :class => 'image' %>
            		<div class="title">Renovating</div>
            		<div class="description">A description of what renovating is all about would go here.</div>
            	</div>
            	<div class="column-container featured">
            		<%= image_tag 'marketing.png', :class => 'image' %>
            		<div class="title">Marketing</div>
            		<div class="description">A description of what marketing is all about would go here.</div>
            	</div>
            	<div class="column-container featured">
            	  <%= image_tag 'fundraising.png', :class => 'image' %>
            		<div class="title">Fundraising</div>
            		<div class="description">A description of what fundraising is all about would go here.</div>
            	</div>
            	<div style="clear: both;"></div>
            	<!-- Home view end -->
            	
            	<!-- YEILD End -->
            	
        	</div>
        </div>
    </div>
    
    <div id="p-footer">
        <div id="p-footer-container">
            <div style="padding: 16px;">
                Footer</div>
        </div>
    </div>

</body>
</html>