<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link href="css/plt.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<div id="p-header">
        <div id="p-header-container">
        	<div id="p-header-menu">
	            <div id="nav-bottom">
	                <ul>
	                    <li id="navSignIn" class="last">
	                        <a id="lnkHome" href="signin.html">Sign In</a>
	                    </li>
	                    <li id="navHome">
	                        <a id="lnkHome" href="index.html">Your Toolbox</a>
	                    </li>      
	                	<li id="navAboutUs">
	                        <a id="lnkAboutUs" href="about.html">About Us</a>
	                    </li>
	                    <li id="navTools">
	                        <a id="lnkTools" href="tools.html">Tools</a>
	                    </li>              
	                </ul>
	            </div>
	            <div id="logo" onclick="location.href='index.html';">
	            	<img src="images/plt_logo.png" alt="plt_logo" style="width: 340px;">
	            </div>
        	</div>
        </div>
    </div>
    
    <div id="p-body">
        <div id="p-body-container">
        
        		<!-- VIEW HTML Start -->
    			<div id="pageHeading">Sign In</div>
            	
				<div style="padding: 100px 16px; margin-top: 16px;">
					<div class="form-container" style="width: 300px; margin: auto;">
						<div style="padding: 20px;">
					
			                <div class="formHeader">
			                    Please Sign In</div>
			                <div style="padding: 24px 0px 12px 0px; line-height: 100%;">
			                    <span style="font-weight: bold; display: none;">Username </span>
			                    <input name="txtUsername" type="text" maxlength="50" id="txtUsername" tabindex="1" style="width:260px;" placeholder="Username" />
			                </div>
			                <div style="padding-bottom: 16px; line-height: 100%;">
			                    <span style="font-weight: bold; display: none;">Password </span>
			                    <input name="txtPassword" type="password" maxlength="50" id="txtPassword" tabindex="2" style="width:260px;" placeholder="Password" />
		                    </div>
			                <div style="padding-bottom: 32px; line-height: 100%;">
				                <button>Sign In</button>
		                    </div>
			                <div style="border-width: 1px; border-color: #808080; border-top-style: dotted;">
			                    <span style="font-size: 12px; color: #FF0000; text-decoration: underline;">I forgot my username/password</span><br />
			                </div>
	
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>          	            	
            	<div style="clear: both;"></div>
            	<!-- VIEW HTML End -->
            	
        </div>
    </div>
    
    <div id="p-footer">
        <div id="p-footer-container">
            <div style="padding: 16px;">
                Footer</div>
        </div>
    </div>

</body>
</html>